[Unit]
Description=PowerTOP tunings
After=multi-user.target

[Service]
Type=oneshot
Environment="TERM=dumb"
ExecStart=/usr/sbin/powertop --auto-tune
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target
EOF
	sudo systemctl daemon-reload
	sudo systemctl enable powertop-tuning.service || true
	sudo systemctl restart powertop-tuning.service || true